@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&display=swap");
:root {
  font-family: "Heebo", sans-serif;
  color: var(--clr-text2);

  --clr-primary: #111228;
  --clr-secondary: #4dbad8;
  --clr-text1: #718ab4;
  --clr-text2: #e0eaf9;
  --clr-text3: #a7a4ba;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-gradient: linear-gradient(
    90deg,
    rgba(125, 73, 234, 1) 0%,
    rgba(54, 146, 242, 1) 50%,
    rgba(77, 184, 214, 1) 82%
  );
  --clr-purple: #3b3364;
  --clr-purple2: #303064;
  --clr-text2a: #b9cbe3;
  --clr-hover: #c7e0f3;
  --clr-background: linear-gradient(
    to right bottom,
    #111228,
    #111329,
    #11132a,
    #10142b,
    #10142c,
    #141833,
    #181d39,
    #1c2140,
    #262c4e,
    #30375d,
    #3a426c,
    #444e7b
  );
  --clr-background-opaque: linear-gradient(
    to right bottom,
    rgba(17, 18, 40, 0.85),
    rgba(17, 19, 41, 0.85),
    rgba(17, 19, 42, 0.85),
    rgba(16, 20, 43, 0.85),
    rgba(16, 20, 44, 0.85),
    rgba(20, 24, 51, 0.85),
    rgba(24, 29, 57, 0.85),
    rgba(28, 33, 64, 0.85),
    rgba(38, 44, 78, 0.85),
    rgba(48, 55, 93, 0.85),
    rgba(58, 66, 108, 0.85),
    rgba(68, 78, 123, 0.85)
  );
  --clr-blue: #4db8d6;
  --clr-green: #10ca6e;
  --fs-custom: 4rem;
  --fs-xxl: 3rem;
  --fs-xl: 2rem;
  --fs-l: 1.5rem;
  --fs-m: 1.3rem;
  --fs-s: 1rem;
}

body,
html {
  margin: 0;
  overflow-x: hidden;
  background-image: var(--clr-background);
}

.gradient-text {
  background-image: var(--clr-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 450px) {
  :root {
    --fs-custom: 2.5rem;
    --fs-xxl: 2rem;
    --fs-l: 1.2rem;
    --fs-m: 1rem;
  }
}
